/* Quita el scrollbar de la pagina */
::-webkit-scrollbar {
  display: none;
}


/* Cambia el color de los enlaces de contacto del bottom */
.container a {
  color: black;
  text-decoration: none;
}

.navbar {
  border-bottom: 1px solid #333;
}

